<h1>Editing web employee</h1>

<%= render "form", web_employee: @web_employee %>

<br>

<div>
  <button><%= link_to "Show this web employee", @web_employee %> </button>
  <button><%= link_to "Back to web employees", web_employees_path %></button>
</div>
